
:host {
    display: block;
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5em;
}

img {
    display: block;
    width: 5em;
    image-rendering: pixelated;
    background: white;
}

.image-container {
    border-width: 0.25em;
    border-style: solid;
    border-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .image-container {
    border-color: black;
}
