
<div class="upload-area">
    <input type="file" accept="image/*" multiple (change)="onChange($event.target)"/>
</div>

<main>
    <div class="sidebar">
        <div class="selection-actions">
            <button (click)="onSelectAll()">All</button>
            <button (click)="onSelectNone()">None</button>
        </div>

        <div class="size-actions">
            <button
                *ngFor="let size of sizes"
                (click)="onChangeSize(size)"
                [disabled]="!hasSelection"
            >
                {{ size }}
            </button>
        </div>

        <button (click)="onReorder()">Reorder</button>

        <button
            (click)="onDuplicate()"
            [disabled]="!hasSelection"
        >
            Duplicate
        </button>

        <!-- <app-piece-list [pieces]="pieces">
        </app-piece-list> -->
    </div>

    <app-piece-layout [pieces]="pieces">
    </app-piece-layout>
</main>
