
<div class="upload-area">
    <input type="file" accept="image/*" multiple (change)="onChange($event.target)"/>
</div>

<main>
    <div class="sidebar">
        <div class="actions">
            <button (click)="onSelectAll()">All</button>
            <button (click)="onSelectNone()">None</button>
        </div>

        <div class="sizes">
            <button *ngFor="let size of sizes" (click)="onChangeSize(size)">
                {{ size }}
            </button>
        </div>

        <app-piece-list [pieces]="pieces">
        </app-piece-list>
    </div>

    <div class="layout">
        <div
            #piece
            *ngFor="let piece of piecesSortedBySize; index as index"
            class="piece-container size-{{ piece.size }}"
        >
            <div class="base"></div>
            <div class="image-container flipped">
                <img src="{{ piece.imageURL }}">
            </div>
            <div class="image-container">
                <img src="{{ piece.imageURL }}">
            </div>
            <div class="base"></div>
        </div>
    </div>
</main>
