
:host {
    --border-style: dashed 1px gray;
    --size-small: 0.5in;
    --size-medium: 0.875in;
    --size-large: 1.75in;
}

main {
    display: flex;
}

.sidebar {
    flex-shrink: 1;
    background: lightgray;
    margin-right: 1em;

    button {
        width: 100%;
        padding: 0.5em;
    }
}

.upload-area {
    margin: 0.5em;
}

.size-actions {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.selection-actions {
    margin-bottom: 0.5em;
    display: flex;

    button {
        flex-grow: 1;
        flex-basis: 50%;
    }
}
