
<div class="upload-area">
    <input type="file" accept="image/*" multiple (change)="onChange($event.target)"/>
</div>

<main>
    <div class="sidebar">
        <div class="actions">
            <button (click)="onSelectAll()">All</button>
            <button (click)="onSelectNone()">None</button>
        </div>

        <div class="sizes">
            <button *ngFor="let size of sizes" (click)="onChangeSize(size)">
                {{ size }}
            </button>
        </div>

        <app-piece-list [pieces]="pieces">
        </app-piece-list>
    </div>

    <app-piece-layout [pieces]="piecesSortedBySize">
    </app-piece-layout>
</main>
