.layout {
    // overflow: hidden;
    // display: flex;
    // align-items: start;
    // flex-wrap: wrap;
    width: calc(10in - 5px);
    flex-grow: 0;
    // height: calc(7.5in - 5px);
}

.selected {
    background: lightblue;
}
