
:host {
    display: inline-block;
}

.piece-container {
    display: inline-block;
    width: var(--size);
    border: var(--border-style);
    break-inside: avoid;

    &.size-small {
        --size: var(--size-small);
    }

    &.size-medium {
        --size: var(--size-medium);
    }

    &.size-large {
        --size: var(--size-large);
    }
}

.base {
    height: var(--size);
}

.image-container {
    --vertical-padding: calc(var(--size) * 0.1);
    --horizontal-padding: calc(var(--size) * 0.05);
    border-bottom: var(--border-style);
    padding: var(--vertical-padding) var(--horizontal-padding);
}

.block-type .image-container {
    --vertical-padding: 0;
}

.box-type .image-container {
    --horizontal-padding: 0;
    --vertical-padding: 0;
    border-top: var(--border-style);
    position: relative;

    &::after {
        content: '';
        width: var(--size);
        height: var(--size);
        border-top: var(--border-style);
        border-bottom: var(--border-style);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.block-type .base {
    height: unset;

    /* We don't actually want to display the image, but instead use it's
     * height to set the size of the base. (which should match the sizze of
     * the top face) */
    img {
        opacity: 0;
        width: var(--size);
        height: auto;
    }
}

.flipped {
    transform: rotate(180deg);
    border-top: var(--border-style);
}

img {
    display: block; // Otherwise a little bottom padding is added
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}
