/* You can add global styles to this file, and also import other style files */

:root {
    --size-small: 0.5in;
    --size-medium-minus: 0.65in;
    --size-medium: 0.875in;
    --size-medium-plus: 1in;
    --size-large: 1.75in;
    --size-large-plus: 2in;
    --size-huge: 2.75in;
}

body {
    padding: 0;
    margin: 0;
    font-family: arial, sans;
}

@media print {
    app-root > *, app-root .sidebar {
        display: none;
    }

    app-root .layout {
        display: block;
    }
}
